.bg-primary{
    background-color: #121465 !important;
}

.bg-secondary{
    background-color: #C60000 !important;
}

.btn-spotlight{
    background-color: #121465;
    color: white;
    font-weight: bold;
    border-color: #C60000;
}

.select-spotlight{
    border-color: #121465 !important;
    color: rgba(18, 20, 101, .5) !important;
}

.header_line{
    height: 8px !important;
}

.header_menu, .header_menu > div {
    height: 50px;
}

.header_menu a{
    color: #C60000;
}

.header_content{
    background-image: url(../_images/banner.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc( 100vh - 58px );
    width: 100vw;
}

.header_content > div >div > form{
    transform: translateY(10px);
}

.filter_immovable > .filter_goal label{
    border-radius: 12px 12px 0 0;
    background-color: #121465;
    color: white;
    box-shadow: none;
    font-weight: bold;
}

.filter_immovable > .filter_goal label.active{
    background-color: white;
    color: #C60000;
}

.filter_immovable > .filter_specific{
    width: 800px;
    padding: 30px;
    border-radius: 12px 0 12px 12px;
}

.header_content .alt{
    width: 790px;
    padding: 30px 20px 20px;
    border-radius: 0 0 12px 12px;
}